.all-comunity {
    margin-left: 10px;
}

.comunity {
    background-color: rgb(1, 46, 79);
    color: #fffffff3;
    border-radius: 10px;
    padding: 20px;
    min-width: 350px;
}

.space {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comunity h3 {
    font-size: 14px;
    margin-bottom: 30px;
}

.all-comunity {
    display: flex;
    gap: 10px;
}

.img img {
    width: 38px;
    height: 38px;
    border-radius: 30px;
}

.info-comunity {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.info-comunity h4 {
    font-size: 14px;
}

.info-comunity p {
    font-size: 12px;
}

.more-btn {
    font-size: 15px;
    background-color: transparent;
    border: none;
    color: #fff;
    display: flex;
    padding: 5px;
    width: 74px;
    cursor: pointer;
}

.more-btn:hover {
    background-color: rgba(4, 110, 186, 0.55);
    border-radius: 20px;
    padding: 5px;
}