* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/* Header */

header {
    padding: 150px 30px 20px;
}

.Search-2 {
    display: none;
}

/* Main */

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
    'post post comunity';
    gap: 40px;
    margin: 30px 20px;
}

.Post {
    grid-area: post;
}

.Post::-webkit-scrollbar {
    width: 0.1rem;
}

.comunity-all {
    grid-area: comunity;
}

.icon {
    display: none;
}


@media (max-width: 600px) {

    /* Header */

    header {
        padding: 40px 25px 0px;
    }

    /* Main */

    main {
        display: flex;
        flex-direction: column;
        margin: 20px 20px;
    }

    .Search-2 {
        display: flex;
        padding-top: 130px;
        padding-left: 25px;
    }
}