* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 30px;
    margin-bottom: 50px;
    position: fixed;
    z-index: 1000;
    width: 100%;
    background-color: #fff;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo h1 {
    font-weight: 500;
}

.logo img {
    width: 45px;
    border-radius: 30px;
}

.link {
    display: flex;
    align-items: center;
    gap: 10px;
}

.app {
    background-color: rgba(4, 110, 186, 0.7);
    color: #fff;
    padding: 12px;
    font-size: 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.official {
    background-color: #046eba;
    color: #fff;
    padding: 12px;
    font-size: 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

/* Header */

header {
    padding: 150px 30px 20px;
}

/* Main */

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
    'post post comunity';
    gap: 40px;
    margin: 30px 20px;
}

.Post {
    grid-area: post;
}

.Post::-webkit-scrollbar {
    width: 0.1rem;
}

.comunity-all {
    grid-area: comunity;
}

