.all-result {
    background-color: #fff;
    position: fixed;
    color: #fff;
    border-radius: 0px 0px 10px 10px;
    border-top: 1px solid rgb(1, 46, 79);
    overflow-y: auto;
    height: 400px;
}

.all-result::-webkit-scrollbar {
    width: 0.01px;
}

.result {
    background-color: rgba(4, 110, 186, 0.7);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 40vw;
}

.trend {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.all-info {
    display: flex;
    flex-direction: column;
    gap: 3px;
    border-bottom: 1px solid rgb(1, 46, 79);
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.all-info h3 {
    font-size: 16px;
}

.all-info p {
    font-size: 10px;
}

@media (max-width: 600px) {

    .all-result {
        background-color: #fff;
        position:absolute;
        color: #fff;
        border-radius: 0px 0px 10px 10px;
        border-top: 1px solid rgb(1, 46, 79);
        overflow-y: auto;
        height: 200px;
    }

    .result {
        background-color: rgba(4, 110, 186, 0.7);
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        overflow-x: hidden;
        overflow-y: auto;
        width: 91.7vw;
    }

}

@media (max-width: 500px) {
    
    .result {
        width: 90.5vw;
    }
}

@media (max-width: 470px) {
    
    .result {
        width: 88vw;
    }
}